In [56]:
from sklearn.svm import SVC

from sklearn.metrics import scorer

from sklearn.metrics import accuracy_score

# For data manipulation

import pandas as pd

import numpy as np

df = pd.read_csv('SB71.csv')
df.head()

     Close    Volume
0  89.7830  43514500
1  65.9594  26406300
2  77.2893  40322900
3  81.0072  63081200
4  60.3585  23321200

In [57]:
from io import StringIO
col = ['Close', 'Volume']

In [58]:
df = df[col]
df = df[pd.notnull(df['Volume'])]
df.columns = ['Close', 'Volume']

In [59]:
df['category_id'] = df['Close'].factorize()[0]
category_id_df = df[['Close', 'category_id']].drop_duplicates().sort_values('category_id')

In [60]:
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'Close']].values)
df.head()

     Close    Volume  category_id
0  89.7830  43514500            0
1  65.9594  26406300            1
2  77.2893  40322900            2
3  81.0072  63081200            3
4  60.3585  23321200            4

In [61]:
y = np.where(df['Close'].shift(-1) > df['Close'],1,-1)

In [62]:
df['Close'] = df.Close

df['Volume'] = df.Volume

X=df[['Close','Volume']]

In [63]:
split_percentage = 0.8

split = int(split_percentage*len(df))
X_train = X[:split]

y_train = y[:split]

X_test = X[split:]

y_test = y[split:]
cls = SVC().fit(X_train, y_train)
accuracy_train = accuracy_score(y_train, cls.predict(X_train))

accuracy_test = accuracy_score(y_test, cls.predict(X_test))

In [64]:

print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))

Test Accuracy: 55.00%